In [1]:
import datapot as dp

In [2]:
f = open("research/nikita/temp.json", 'r')

In [3]:
data = dp.DataPot()
data.fit(f, limit=100)
df = data.transform(f, verbose=True)
df.head(n=10)

fit transformers...
fit transformers...OK
num of new features: 1046

,amount.646,amount.647,amount.644,amount.645,amount.642,amount.643,amount.640,amount.641,amount.721,amount.720,...,amount.501,amount.500,amount.503,amount.502,amount.505,amount.504,amount.507,amount.506,amount.509,amount.508
0,-6737.75,-7860.71,-13674.26,-1232.33,-449183.15,-110049.87,-224591.58,-224591.58,-76549.79,-64904.72,...,-6108.89,-9455.31,-44895.86,-9559.74,-2560.34,-4222.10,-21093.19,-1823.68,-5098.23,-7389.06
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-2245.92,-9704.83,-22459.16,-2245.92,-67377.47,-15721.41,-44918.32,-67377.47,-21515.87,-22459.16
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-2245.92,-2245.92,-15317.15,35934.65,-33688.74,-2448.05,-17899.95,-2448.05,-1940.92,-224591.58,...,-15047.64,-539.02,-6108.89,-10331.21,-9100.45,-449.18,-6670.37,-898.37,-2245.92,-2470.51
5,-8983.66,-3034.91,-24705.07,24705.07,-381805.68,-21897.68,-1706.90,449183.15,-336887.37,336887.37,...,-1161.14,-1091.52,-148297.82,-741.15,-4491.83,-6737.75,-22459.16,-4491.83,-1594.60,-112295.79
6,-28994.77,-5250.50,-20366.41,-932.06,-15910.07,-3407.95,-19361.82,-3566.51,-16844.37,-26950.99,...,-22459.16,-7442.52,-34317.59,-8983.66,-24839.83,-32341.19,-18609.21,-22088.36,-45771.76,-7164.47
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data

DataPot class instance
 - number of features without transformation: 1046
 - number of new features: 1046
features to transform: