In [1]:
import sys
sys.path.append('../')
import datapot as dp
import pandas as pd

/usr/local/lib/python3.5/dist-packages/gensim/utils.py:1015: UserWarning: Pattern library is not installed, lemmatization won't be available.
  warnings.warn("Pattern library is not installed, lemmatization won't be available.")

In [2]:
datapot = dp.DataPot()

In [4]:
import bz2
ftr = bz2.BZ2File('../data/mushrooms.jsonlines.bz2')

In [5]:
datapot.fit(ftr, limit=100)

In [6]:
datapot

DataPot class instance
 - number of features without transformation: 23
 - number of new features: 0
features to transform:
	('p.1', [SVDOneHotTransformer])
	('c', [SVDOneHotTransformer])
	('k.1', [SVDOneHotTransformer])
	('s', [SVDOneHotTransformer])
	('p', [SVDOneHotTransformer])
	('n', [SVDOneHotTransformer])
	('p.3', [SVDOneHotTransformer])
	('s.3', [SVDOneHotTransformer])
	('o', [SVDOneHotTransformer])
	('w.2', [SVDOneHotTransformer])
	('e.1', [SVDOneHotTransformer])
	('f', [SVDOneHotTransformer])
	('n.1', [SVDOneHotTransformer])
	('u', [SVDOneHotTransformer])
	('w.1', [SVDOneHotTransformer])
	('s.1', [SVDOneHotTransformer])
	('p.2', [SVDOneHotTransformer])
	('t', [SVDOneHotTransformer])
	('w', [SVDOneHotTransformer])
	('e', [SVDOneHotTransformer])
	('s.2', [SVDOneHotTransformer])
	('k', [SVDOneHotTransformer])
	('x', [SVDOneHotTransformer])

In [7]:
data = datapot.transform(ftr)

In [7]:
data.head()

,k.1_one_hot0,f_one_hot0,f_one_hot1,n.1_one_hot0,w.2_one_hot0,x_one_hot0,x_one_hot1,x_one_hot2,x_one_hot3,x_one_hot4,...,k_one_hot9,k_one_hot10,k_one_hot11,u_one_hot0,u_one_hot1,u_one_hot2,u_one_hot3,u_one_hot4,u_one_hot5,u_one_hot6
0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
data.columns

Index(['k.1_one_hot0', 'f_one_hot0', 'f_one_hot1', 'n.1_one_hot0',
       'w.2_one_hot0', 'x_one_hot0', 'x_one_hot1', 'x_one_hot2', 'x_one_hot3',
       'x_one_hot4', 'x_one_hot5', 'w.1_one_hot0', 'p.2_one_hot0',
       's_one_hot0', 's_one_hot1', 's_one_hot2', 's_one_hot3', 's.2_one_hot0',
       's.3_one_hot0', 'p_one_hot0', 'p_one_hot1', 'w_one_hot0', 'w_one_hot1',
       'w_one_hot2', 'w_one_hot3', 'w_one_hot4', 'w_one_hot5', 'w_one_hot6',
       'w_one_hot7', 'w_one_hot8', 'p.1_one_hot0', 'e.1_one_hot0',
       'n_one_hot0', 'n_one_hot1', 'n_one_hot2', 'n_one_hot3', 'n_one_hot4',
       'n_one_hot5', 'n_one_hot6', 'n_one_hot7', 'n_one_hot8', 'n_one_hot9',
       'c_one_hot0', 'c_one_hot1', 's.1_one_hot0', 'p.3_one_hot0',
       'o_one_hot0', 'o_one_hot1', 'o_one_hot2', 't_one_hot0', 't_one_hot1',
       'e_one_hot0', 'e_one_hot1', 'k_one_hot0', 'k_one_hot1', 'k_one_hot2',
       'k_one_hot3', 'k_one_hot4', 'k_one_hot5', 'k_one_hot6', 'k_one_hot7',
       'k_one_hot8', 'k_one_hot9', 'k_one_hot10', 'k_one_hot11', 'u_one_hot0',
       'u_one_hot1', 'u_one_hot2', 'u_one_hot3', 'u_one_hot4', 'u_one_hot5',
       'u_one_hot6'],
      dtype='object')

In [11]:
X = data.drop(['e_one_hot0', 'e_one_hot1'], axis=1)
y = data['e_one_hot0']

In [12]:
from sklearn.model_selection import cross_val_score

In [18]:
warnings.filterwarnings('default')
from xgboost import XGBClassifier
clf = XGBClassifier(n_estimators=100)
cross_val_score(clf, X, y, cv=5)

array([ 0.976     ,  0.92430769,  0.98523077,  0.9612069 ,  0.92118227])